<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Masha_Trenning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Masha_Trenning.Properties.Settings>
            <setting name="addition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="subtraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="multiplication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="devision" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="devider_type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="user_devider_type" serializeAs="String">
                <value />
            </setting>
            <setting name="multiplication_sign" serializeAs="String">
                <value>×</value>
            </setting>
            <setting name="devision_sign" serializeAs="String">
                <value>÷</value>
            </setting>
            <setting name="max_multiplicator1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="max_multiplicator2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="max_divider" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="max_quotient" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="number_of_equations" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="representation_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_summand1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="max_summand2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="min_summand1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="min_summand2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="max_subtrahend" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="max_difference" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="min_subtrahend" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="min_difference" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="min_multiplicator1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="min_multiplicator2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="min_divider" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="min_quotient" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="profile" serializeAs="String">
                <value>0</value>
            </setting>
        </Masha_Trenning.Properties.Settings>
    </userSettings>
</configuration>